asgiref==3.7.2
certifi==2023.7.22
colorama==0.4.6
coverage==7.2.7
Django==3.0
django-environ==0.10.0
entrypoints==0.3
exceptiongroup==1.1.2
flake8==3.7.0
iniconfig==2.0.0
mccabe==0.6.1
packaging==23.1
pluggy==1.2.0
pycodestyle==2.5.0
pyflakes==2.1.1
pytest==7.4.0
pytest-django==3.9.0
pytz==2023.3
sentry-sdk==1.28.1
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.7.1
urllib3==2.0.4
